version: "2"
services:
    blank-sr:
        container_name: blank-sr
        build: ./blank-sr/.
        image: getblank/blank-sr
        volumes:
            - /data/blank-sr:/app
            - /etc/localtime:/etc/localtime
        expose:
            - "1234"
        restart: always
        depends_on:
            - "mongo"
    blank-router:
        container_name: blank-router
        build: ./blank-router/.
        image: getblank/blank-router
        expose:
            - "2345"
        ports:
            - "8080:8080"
        links:
            - blank-sr
        volumes:
            - /etc/localtime:/etc/localtime
        restart: always
        depends_on:
            - "mongo"
    blank-cron:
        container_name: blank-cron
        build: ./blank-cron/.
        image: getblank/blank-cron
        links:
            - blank-sr
        volumes:
            - /etc/localtime:/etc/localtime
        depends_on:
            - "mongo"
    blank-fs:
        container_name: blank-fs
        build: ./blank-fs/.
        image: getblank/blank-fs
        expose:
            - "8082"
        volumes:
            - /data/blank-fs:/app
            - /etc/localtime:/etc/localtime
        links:
            - blank-sr
        restart: always
        depends_on:
            - "mongo"
    blank-node-worker:
        container_name: blank-node-worker-1
        build: ./blank-node-worker/.
        image: getblank/blank-node-worker
        volumes:
            - /data/blank-node-worker:/app
            - /etc/localtime:/etc/localtime
        depends_on:
            - "mongo"
        links:
            - blank-sr
            - mongo
        environment:
            BLANK_SERVICE_REGISTRY: ws://blank-sr:1234
            MONGO_PORT_27017_TCP_ADDR: mongo
            MONGO_PORT_27017_TCP_PORT: 27017
        restart: always
    mongo:
        container_name: mongo
        image: mongo:latest
        volumes:
            - /data/mongodb:/data/db
            - /etc/localtime:/etc/localtime
        expose:
            - "27017"
        restart: always
    # commercial modules
    # blank-pbx:
    #     container_name: blank-pbx
    #     image: getblank/busybox
    #     expose:
    #         - "8022"
    #     volumes:
    #         - /data/blank-pbx:/app
    #         - /etc/localtime:/etc/localtime
    #     working_dir: /app
    #     links:
    #         - blank-sr
    #     command: ./blank-pbx -s ws://blank-sr:1234
    #     restart: always
    #     depends_on:
    #         - "mongo"